<%- include('layout', { title: 'Lambda - About' , content:` 
<section id="about-sect">
    <div class="container">
        <br>
        <h1>
            <span class="txt-Main text-light">MORE ABOUT WHO</span>
            <span class="clr-main"> WE ARE</span>
        </h1>
        <p class="text-light">

        </p>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-info-circle clr-main mr-2"></i> ABOUT US</h4>
                <p>
                    Established in 2023, Lambda Africa is a dynamic company dedicated to building a sustainable and prosperous
                    future across South Africa. Starting with a strong foundation in digital services and transport, we
                    have expanded our expertise to include civil engineering and construction, and agriculture. Our
                    innovative approach combines cutting-edge technology with sustainable practices, ensuring
                    high-quality outcomes in every sector. From creating resilient infrastructure and developing custom
                    digital solutions to providing reliable transport services and fresh, sustainably farmed produce,
                    Lambda Africa is committed to enhancing lives and fostering growth. Join us as we drive progress and
                    build a better tomorrow.
                </p>
            </div>
        </div>
        <br>
    </div>
    </section>
    `}) %>