<%- include('layout', { title: 'Lambda - Partners' , content:` <section id="agriculture-sect">
    <div class="container">
        <h1>
            <span class="txt-Main text-light">SUSTAINABILITY</span>
            <span class="clr-main"> THROUGH THE GROUND</span>
        </h1>
        <p class="text-light">

        </p>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-tractor clr-main mr-2"></i> AGRICULTURE</h4>
                <p>
                    Lambda Africa's Agriculture Department is dedicated to sustainable farming practices, leveraging
                    innovative technology to ensure the production of high-quality, fresh produce. Operating exclusively
                    in crop farming, we have established farms in South Africa's Eastern Cape and KwaZulu-Natal regions.
                </p>
                <p>
                    Our approach blends traditional farming techniques with modern innovations, allowing us to nurture
                    our crops with the utmost care and commitment. This fusion ensures that we can deliver superior
                    produce to our customers while maintaining environmental sustainability and promoting agricultural
                    best practices.
                </p>
                <p>
                    At Lambda Africa, we are committed to fostering a resilient and productive agricultural sector,
                    contributing to the well-being of our communities and the overall health of our environment.
                </p>

                <br>
                <div class="">
                    <img src="../img/Farmlands.png" alt="img" class="farmImg" width="50%">
                </div>
            </div>
        </div>
    </div>
    </section>
    `}) %>