<%- include('layout', { title: 'Lambda Africa' , content:` <body>
    <!--SECTION MAIN-->
    <section id="main-sect" id="main-sect">
        <div class="container-sm">
            <h1><span class="clr-main">BUILDING</span> <span class="txt-Main text-light">SUSTAINABILITY & WEALTH</span>
            </h1>
            <p class="text-light">
                Lambda pioneers sustainable solutions in civil engineering and construction, enhancing transport
                networks and digital landscapes. Our mission is to build resilient infrastructure, fostering wealth and
                sustainability in South Africa.
            </p>
            <div class="spacer"></div>
            <a href="#detailed" type="button" class="btn btn-warning text-light">
                Get Started
            </a>
        </div>
    </section>
    <!--END OF SECTION-->

    <!--Divisions-->
    <div class="container-sm my-sections" id="detailed">
        <div class="row text-light" style="row-gap: 30px;">
            <div class="col-sm-4">
                <h4><i class="fa-solid fa-microchip clr-main mr-2"></i> DIGITAL SERVICES</h4>
                <p>
                    Digital services, offering top-tier software and application development alongside comprehensive
                    system maintenance. Our expertise ensures robust, innovative solutions tailored to meet your
                    business needs and drive success.
                </p>
                <a href="digital" type="button" class="btn btn-sm btn-warning">Learn More <i
                        class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa-sharp fa-solid fa-helmet-safety clr-main mr-2"></i> CIVIL & CONSTRUCTION</h4>
                <p> Building quality roads and designing beautiful homes. Our commitment to quality and
                    sustainability ensures safe, functional, and aesthetically pleasing living spaces and
                    infrastructure.
                </p>
                <a href="construction" type="button" class="btn btn-sm btn-warning">Learn More <i
                        class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa-sharp fa-solid fa-bus clr-main mr-2"></i> TRANSPORT</h4>
                <p>
                    Reliable bus transport services, offering seamless travel experiences and convenient booking for
                    trips and daily commutes. We prioritize comfort, safety, and efficiency, ensuring every journey is
                    smooth and enjoyable.
                </p>
                <a href="transport" type="button" class="btn btn-sm btn-warning">Learn More <i
                        class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa-solid fa-tractor clr-main mr-2"></i> AGRICULTURE</h4>
                <p>
                    Lambda Africa practices sustainable farming with innovative technology, ensuring high-quality, fresh
                    produce for our customers. We blend tradition with innovation, nurturing our crops with care and
                    commitment.
                </p>
                <a href="agriculture" type="button" class="btn btn-sm btn-warning">Learn More <i
                        class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <section id="client-sect" class="my-sections">
        <div class="container-sm">
            <h1><span class="clr-main">OUR</span> <span class="txt-Main text-light"> CLIENTS</span>
            </h1>
            <br>
            <div class="card my-card">
                <div class="card-body text-light">
                    <h4><i class="fa fa-users clr-main mr-2"></i> Clients</h4>
                    
                </div>
            </div>
        </div>
    </section>
    </body>
    `}) %>