<%- include('layout', { title: 'Lambda - Partners', content:` 
<section id="partners-sect">
    <div class="container">
        <h1>
            <span class="txt-Main text-light">STRONG CONNECTIONS</span>
            <span class="clr-main"> BUILT ON TRUST</span>
        </h1>
        <p class="text-light">
           
        </p>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-handshake-angle clr-main mr-2"></i> OUR PARTNERS</h4>
                <br>
                <p>DIGITAL PARTNERS</p>
                <img src="../img/amazon-web.jpg" alt="partner" width="100px"/>
                <img src="../img/azure.png" alt="partner" width="150px"/>
                <img src="../img/google cloud.png" alt="partner" width="150px"/>
                <img src="../img/host-africa.png" alt="partner" width="150px"/>
                <img src="../img/Convee-logo-whtbg.png" alt="partner" width="150px"/>
            </div>
        </div>
    </div>
</section>
`}) %>