<%- include('layout', { title: 'Lambda - Privacy policy' , content:` <section id="privacy-sect">
    <div class="container">
        <h1>
            <span class="txt-Main text-light">OUR PRIORITY,</span>
            <span class="clr-main"> YOUR PRIVACY</span>
        </h1>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-shield-halved clr-main mr-2"></i> PRIVACY POLICY</h4>
                <hr color="white">
                <h5 class="font-weight-bold">Introduction</h5>
                <p>
                    Welcome to Lambda Africa Pty Ltd. This Privacy Policy outlines how we handle your personal
                    information when you visit our website. Protecting your privacy is of utmost importance to us,
                    and we are committed to maintaining the confidentiality, integrity, and security of your
                    personal information.
                </p>

                <h5 class="font-weight-bold">Information Collection</h5>
                <p>
                    Lambda Africa Pty Ltd collects only the contact details and messages you provide when you
                    contact us via email or through our query forms. This information is collected solely for the
                    purpose of responding to your inquiries and improving our service offerings.
                </p>

                <h5 class="font-weight-bold">Information Use</h5>
                <p>
                    The information you provide will be used exclusively for communication purposes and to address
                    your queries. We do not use your information for any other purpose without your explicit
                    consent.
                </p>

                <h5 class="font-weight-bold">Information Sharing</h5>
                <p>
                    Lambda Africa Pty Ltd does not share your contact information with third parties. Your personal
                    information is kept confidential and is not disclosed to any external organizations or
                    individuals.
                </p>

                <h5 class="font-weight-bold">Information Security</h5>
                <p>
                    We take the security of your personal information seriously. Appropriate measures are in place
                    to ensure that your information is secure and protected against unauthorized access, disclosure,
                    or destruction.
                </p>

                <h5 class="font-weight-bold">Changes to Information</h5>
                <p>
                    Information presented on this website may change without notice. We strive to provide accurate
                    and up-to-date content, but we cannot guarantee the completeness or accuracy of the information
                    at all times.
                </p>

                <h5 class="font-weight-bold">Nature of Website</h5>
                <p>
                    This website is intended solely for informational purposes. Lambda Africa Pty Ltd does not
                    conduct any e-commerce or business retail transactions through this site. No financial
                    transactions or monetary exchanges take place on this website.
                </p>

                <h5 class="font-weight-bold">Contact Us</h5>
                <p>
                    If you have any questions or concerns regarding this Privacy Policy or our data practices,
                    please contact us via the provided email or contact form on our website.
                </p>

                <h5 class="font-weight-bold">Updates to Privacy Policy</h5>
                <p>
                    Lambda Africa Pty Ltd reserves the right to update or modify this Privacy Policy at any time.
                    Any changes to the policy will be posted on this page, and we encourage you to review it
                    periodically.
                </p>

                <h5 class="font-weight-bold">Effective Date</h5>
                <p>
                    This Privacy Policy is effective as of 01-02-2023.
                </p>

                <p>
                    Lambda Africa (Pty) Ltd<br>
                    Mount Frere<br>
                    Eastern Cape<br>
                    South Africa<br>
                    5090
                </p>

                <p>
                    info@lambda-africa.co.za<br>
                    +27 (0) 60 869-6939<br>
                    +27 (0) 63 536-6403<br>
                </p>
            </div>
        </div>
    </div>
    <br>
    </section>
    `}) %>