<%- include('layout', { title: 'Lambda - Privacy policy' , content:` <section id="privacy-sect">
    <div class="container">
        <h1>
            <span class="txt-Main text-light">Terms &</span>
            <span class="clr-main"> Conditions</span>
        </h1>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-shield-halved clr-main mr-2"></i> Terms & Conditions</h4>
                <hr color="white">
            </div>
        </div>
    </div>
    <br>
    </section>
    
    `}) %>