<%- include('layout', { title: 'Lambda - Transport' , content:` 
<section id="transport-sect">
    <div class="container-sm">
        <h1>
            <span class="txt-Main text-light">TRAVEL SAFELY,</span>
            <span class="clr-main"> WITH COMFORT</span>
        </h1>
        <p class="text-light">

        </p>
        <br>
        <div class="card my-card">
            <div class="card-body text-light">
                <h4><i class="fa fa-bus-simple clr-main mr-2"></i> TRANSPORT</h4>
                <br />
                <ul class="foot-list">
                    <li>Scholar Transport</li>
                    <li>Tours in South Africa</li>
                    <li>Booked trips</li>
                    <li>Routes within cities country wide</li>
                </ul>
                <p>

                </p>
            </div>
        </div>
    </div>
</section>
`}) %>